<div *ngIf="book">
    <h2>{{ book.title }}</h2>
    <div>
        Title:
        <input [(ngModel)]="book.title" placeholder="Title"/>
    </div>
    <div>
        Author:
        <input [(ngModel)]="book.author" placeholder="Author"/>
    </div>
    <div>
        Description:
        <input [(ngModel)]="book.description" placeholder="Description"/>
    </div>
    <button (click)="updateBook(book)" *ngIf="book.id">Save</button>
    <button (click)="deleteBook(book)" *ngIf="book.id">Delete</button>
    <button (click)="createBook(book)" *ngIf="!book.id">Create</button>
</div>
